* {
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	max-width: 128rem;
	height: 100vh;
	margin: 0 auto;
	font-size: 1.6rem;
	background: rgba(255, 255, 255, 1);
	font-family: "Poppins", sans-serif;
}

.navbar-logo {
	width: 8.2rem;
}

.navbar {
	padding: 2.2rem 3rem;
	height: 7rem;
	box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.hero {
	padding: 2.6rem 3.6rem;
}

.hero-img {
	max-width: 39.5rem;
	margin: 0 auto;
	width: 100%;
	display: block;
}

.hero-title {
	font-size: 3.6rem;
	font-weight: 600;
	line-height: 4rem;
	margin-top: 3.2rem;
}

.hero-text {
	margin-top: 1.6rem;
	line-height: 1.8rem;
	max-width: 32rem;
}

.activities {
	margin-top: 4.9rem;
	padding: 0 3.7rem;
}

.card {
	max-width: 17.6rem;
	font-size: 1.2rem;
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.card-image {
	width: 100%;
	height: 23.5rem;
	aspect-ratio: 2/2;
}

.card-stats {
	font-size: 1.2rem;
	display: flex;
	column-gap: 2px;
}

.card-badge {
	position: absolute;
	left: 6px;
	top: 6px;
	padding: 5px 6px;
	background: rgba(255, 255, 255, 1);
	border-radius: 2px;
	font-size: 1rem;
}

.star-logo{
	width: 1.4rem;
	height: 1.4rem;
}

.gray {
	color: rgba(145, 142, 155, 1);
}
